@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'ClashDisplay-bold';
  src: url('/fonts/ClashDisplay-Bold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-regular';
  src: url('/fonts/ClashDisplay-Regular.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.test-overlaping {
  position: sticky;
  top: 0;
}

@media (max-width: 490px) {
  
 .test-overlaping {
  position: sticky;
  top: -48rem;
 }
}

.shadow-bujia {
  filter: drop-shadow(4px 4px 10px rgba(239, 243, 26, 0.5));
  -webkit-filter: drop-shadow(4px 4px 10px rgba(239, 243, 26, 0.5));
}

@keyframes opacityPulse {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-opacity-pulse {
  animation: opacityPulse 2.5s infinite;
  -webkit-animation: opacityPulse 2.5s infinite;
}

@keyframes bujiaGlow {
  0%, 100% {
    box-shadow: 0 0 30px rgba(255, 223, 0, 0.4);
    opacity: 0.2;
  }
  50% {
    box-shadow: 0 0 60px rgba(255, 223, 0, 0.7);
    opacity: 1;
  }
}

.animate-bujia-glow {
  animation: bujiaGlow 3s infinite;
}